<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><head th:replace="fragments :: header(${'Register'})"/>
<body>
<div class="container col-12">
    <nav th:replace="fragments :: navbar"/>
    <div class="card col-6" style="margin: 10px auto; padding: 0;">
        <div class="card-header text-white bg-primary">
            <h1>Create an account</h1>
        </div>
        <div class="card-body">
            <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                Username:
                <div class="form-group">
                    <input style="width: 100%" th:field="*{username}"/>
                </div>
                Email:
                <div class="form-group">
                    <input style="width: 100%" th:field="*{email}"/>
                </div>
                Password:
                <div class="form-group">
                    <input type="password" style="width: 100%" th:field="*{password}"/>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments ::footer" />
</body>
</html>